body{

    padding: 1% 5%;
    text-align: left;
    font-family: 'Caviar Dreams';
    font-size: 220%;
    /*color: #ED9FC1;*/
    color: #880E4F;
    background: #F9E1E8;
}
#main{
    /*height:calc(95vh);*/
    height: auto;
}

/*h3{*/
    /*vertical-align: bottom;*/
/*}*/
#footer #left{
    /*height:calc(5vh);*/
    height: auto;
    position: fixed; /* Фиксированное положение */
    left: 0;
    font-size: 60%;
    bottom: 0; /* Левый нижний угол */
    color: #880E4F;
    width: 100%; /* Ширина слоя */
    height: auto;
    padding: 3px; /* Поля вокруг текста */
    background: #ED9FC1; /* Цвет фона */
}
#footer #right {
    position: fixed;
    bottom: 0;
    right: 15px;
}

.img{
    height: 20px;
    width: 20px;
}

input[type="text"]
{
    font-family: 'Caviar Dreams';
    font-size: 60%;
    text-align: center;
    margin-left: 30px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    outline: none;
}



/*Надпись MagicNails*/
#MN{
    font-size: 300%;
    /*font-family: 'Baron Neue';*/
    font-family: 'Stark';
    opacity: 1;
}
#text{
    font-size: 100%;
    /*font-family: 'Kazmann Sans';*/
    padding-left: 3%;
    font-family: 'Caviar Dreams';
}
.social {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin: 13% auto;
}

.soc {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin: 2% auto;
}

.social li {
    display: block;
    height: 4em;
    line-height: 0em;
    margin: -2.2em;
    padding: 1px;
    position: absolute;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -ms-transition: -ms-transform .2s;
    -o-transition: -o-transform .2s;
    transition: transform .2s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;
}

.soc li {
    display: block;
    height: 4em;
    line-height: 0em;
    margin: -2.2em;
    padding: 1px;
    position: absolute;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -ms-transition: -ms-transform .2s;
    -o-transition: -o-transform .2s;
    transition: transform .2s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

.social a  {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}

.soc a  {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}



.x{
    color: #fffdf0;
    display: block;
    height: 1px;
    color: #880E4F;
    line-height: 3em;
    text-align: center;
    width: 4em;
}

.n{
    line-height: 5em;
}

.social li:hover {
    -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
    -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
    transform: scale(1.3,1.3) rotate(45deg);
}

.soc li:hover {
    -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
    -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
    transform: scale(1.3,1.3) rotate(45deg);
}

.clients {
    /*background: #bcdbdb;*/
    background:  #F8BBD0;
    left: 0;
    top: 0%;
}


.serv {
    /*background: #bcdbdb;*/
    background:  #F8BBD0;
    left: 50%;
    bottom: -115%;
}

.services {
    /*background: #610d4b;*/
    background:  #F8BBD0;
    bottom: 0;
    left: 25%;
}

.servic {
    /*background: #610d4b;*/
    background:  #F8BBD0;
    top: 0;
    left: 25%;
}

.add {
    /*background: #f6c8cb;*/
    background:  #80102d;
    top:  0%;
    left: 25%;
}


.delete {
    /*background: #65000e;*/
    background:  #80102d;
    top: 0%;
    left: 75%;
}

.edit {
    /*background: #c10000;*/
    background:  #80102d;
    bottom: 0;
    left: 50%;
}

.info {
    /*background: #e70029;*/
    background:  #80102d;
    top: -125%;
    left: 50%;
}

.offers {
    /*background: #bd6578;*/
    background:  #F8BBD0;
    left: 50%;
    top: 0%;
}

.wellness{
    /*background: greenyellow;*/
    background:  #80102d;
    left: 50%;
    top: 230%;

}
.prices {
    /*background: #e70029;*/
    background:  #F8BBD0;
    bottom: 0;
    left: 75%;
}

.pric {
    /*background: #e70029;*/
    background:  #F8BBD0;
    top: 0;
    left: 75%;
}

.fifth{
    /*background: #4a9590;*/
    background:  #F8BBD0;
    left: 100%;
    top: 0%;

}

.f{
    /*background: pink;*/
    background:  #80102d;
    left: 115%;
    top: 0%;
}

a:link {
    color: #880E4F;
    text-decoration: none;
    /*border-bottom: 1px dashed;*/
}
a:visited {
    color: #880E4F;
    text-decoration: none;
}
a:hover {
    color: #880E4F;
    text-decoration: none;
    /*border-bottom: .07em solid;*/
}
a:active {
    color: #880E4F;
    text-decoration: none;
    /*border-bottom: 1px dashed;*/
}

#footer a:link {
    color: #880E4F;
    text-decoration: none;
    /*border-bottom: 1px dashed;*/
}
#footer a:visited {
    color: #880E4F;
    text-decoration: none;
}
#footer a:hover {
    color: #880E4F;
    text-decoration: none;
    /*border-bottom: .07em solid;*/
}
#footer a:active {
    color: #880E4F;
    text-decoration: none;
}

input[type=submit] {
    padding:5px 15px;
    background: #ED9FC1;
    color: #880E4F;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Caviar Dreams';
    font-size: 60%;
    margin-top: 30px;
    align-self: center;
    outline: none;
}

select {
    align-self: center;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 60%;
    margin-left: 30px;
}


input[type="datetime-local"]
{
    font-family: 'Caviar Dreams';
    font-size: 60%;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    margin-left: 30px;
}


input[type="date"]
{
    font-family: 'Caviar Dreams';
    font-size: 60%;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    margin-left: 30px;
}




